<div class="card sticky-top" *ngIf='displayUser' style="width: 18rem;">
    <img src="assets/images/users.jpg"  width="50" height="220" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{displayUser.firstName}}</h5>
      <small>@{{displayUser.userId}}</small>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{displayUser.email}}</li>
      <button  class="btn btn-dark" (click) = "logout()"><h6 style="color: 'white';">logout</h6></button>

    </ul>
  </div>